[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = {extras = ["accept-rom-license", "atari"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
